body {
	text-align: center;
	background:#515165;
	font-family: monospace;
}

h1 {
	font-size:44px;
	font-weight:bold;
	color: #000000;
}

.sesnorDisplay {
}

.sensor{
	border-radius: 25px;
	background:#2F2F2F;
	border: 10px solid #949494;
	padding: 20px; 

	text-align: center;
	font-size:34px;
	font-weight:bold;
	font-family: monospace;

	display: inline-block;
}
  
 .name{
	margin:auto;
 	text-align: center;
	position:relative;
	color: #FFA500;
 }
 
 .image{
	width:200px;
	margin: 0 auto;
	-moz-opacity:0.4;
	filter:alpha(opacity=40);
  }
  
.loading {
	background:#A52A2A;
	border: 10px solid #4D4D4D;
}

.on, .off {
	margin:auto;
	background: none;
}

.on {
	color: #D7E202;
}

.off{
	color: #949494;
}

.displayAction {
	font-size:24px;
	font-weight:bold;
	color: #B80000;
}

.action {
	color: #FFA000;
}

